@import url('https://fonts.googleapis.com/css?family=Montserrat');
.miyc-menu,
.miyc-menu ul,
.miyc-menu ul li,
.miyc-menu ul li a,
.miyc-menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.miyc-menu:after,
.miyc-menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.miyc-menu #menu-button {
  display: none;
}
.miyc-menu {
  font-family: 'Montserrat', serif;
  line-height: 1; 
  width: 100%;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.miyc-menu > ul > li {
  float: left;
}
.miyc-menu.align-center > ul {
  font-size: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.miyc-menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
.miyc-menu.align-center ul ul {
  text-align: left;
}
.miyc-menu.align-right > ul > li {
  float: right;
}
.miyc-menu.align-right ul ul {
  text-align: right;
}
.miyc-menu > ul > li > a {
  padding: 20px;
  font-size: 18px;
  text-decoration: none;

  color: #000000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.miyc-menu > ul > li:hover > a,
.miyc-menu > ul > li.active > a {
  color: #5fbc27;
}
.miyc-menu > ul > li.has-sub > a {
  /*padding-right: 45px;*/
}
.miyc-menu > ul > li.has-sub > a::after {
  /*position: absolute;
  top: 16px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;*/
}
.miyc-menu > ul > li.has-sub:hover > a::after {
  border-color: #006460;
}
.miyc-menu ul ul {
  position: absolute;
  left: -9999px;
  background-color: #F8F6F9;
  z-index: 100;
}
.miyc-menu li:hover > ul {
  left: auto;
}

.miyc-menu li:last-child:hover > ul {
  right: 0;
}
.miyc-menu.align-right li:hover > ul {
  right: 0;
}
.miyc-menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
.miyc-menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.miyc-menu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
.miyc-menu ul li:hover > ul > li {
  height: 32px;
}
.miyc-menu ul ul li a {
  padding: 10px 20px;
  width: 275px;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", serif;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.miyc-menu ul ul li:hover > a,
.miyc-menu ul ul li a:hover {
  color: #5fbc27;
}
.miyc-menu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.miyc-menu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}
.miyc-menu ul ul li.has-sub:hover > a::after {
  border-color: #333333;
}
.miyc-menu.small-screen {
  width: 100%;
}
.miyc-menu.small-screen ul {
  width: 100%;
  display: none;
}
.miyc-menu.small-screen.align-center > ul,
.miyc-menu.small-screen.align-right ul ul {
  text-align: left;
}
.miyc-menu.small-screen ul li,
.miyc-menu.small-screen ul ul li,
.miyc-menu.small-screen ul li:hover > ul > li {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(120, 120, 120, 0.15);
}
.miyc-menu.small-screen ul li a,
.miyc-menu.small-screen ul ul li a {
  width: 100%;
}
.miyc-menu.small-screen > ul > li,
.miyc-menu.small-screen.align-center > ul > li,
.miyc-menu.small-screen.align-right > ul > li {
  float: none;
  display: block;
}
.miyc-menu.small-screen ul ul li a {
  padding: 20px 20px 20px 30px;
  font-size: 16px;
  color: #000000;
  background: none;
}
.miyc-menu.small-screen ul ul li:hover > a,
.miyc-menu.small-screen ul ul li a:hover {
  color: #006460;
}
.miyc-menu.small-screen ul ul ul li a {
  padding-left: 40px;
}
.miyc-menu.small-screen ul ul,
.miyc-menu.small-screen ul ul ul {
  position: relative;
  left: 0;
  right: auto;
  width: 100%;
  margin: 0;
}
.miyc-menu.small-screen > ul > li.has-sub > a::after,
.miyc-menu.small-screen ul ul li.has-sub > a::after {
  display: none;
}
.miyc-menu.small-screen #menu-line {
  display: none;
}
.miyc-menu.small-screen #menu-button {
  display: block;
  padding: 20px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
	font-weight: bold;

	border-top: 1px solid rgba(120, 120, 120, 0.15);
}
.miyc-menu.small-screen #menu-button::after {
  content: '';
  position: absolute;
  top: 23px;
  right: 20px;
  display: block;
  width: 15px;
  height: 2px;
  background: #000;
}
.miyc-menu.small-screen #menu-button::before {
  content: '';
  position: absolute;
  top: 28px;
  right: 20px;
  display: block;
  width: 15px;
  height: 3px;
  border-top: 2px solid #000;
  border-bottom: 2px solid transparent;
}
.miyc-menu.small-screen .submenu-button {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.15);
  height: 58px;
  width: 58px;
  cursor: pointer;
}
.miyc-menu.small-screen .submenu-button::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 27px;
  display: block;
  width: 2px;
  height: 14px;
  background: #000;
  z-index: 99;
}
.miyc-menu.small-screen .submenu-button::before {
  content: '';
  position: absolute;
  left: 21px;
  top: 27px;
  display: block;
  width: 14px;
  height: 2px;
  background: #000;
  z-index: 99;
}
.miyc-menu.small-screen .submenu-button.submenu-opened:after {
  display: none;
}
.miyc-menu.small-screen.select-list {
  padding: 5px;
}
