@font-face {
    font-family: 'aleolight';
    src: url('../../../../aleo-fontfacekit/web fonts/aleo_light_macroman/Aleo-Light-webfont.eot');
    src: url('../../../../aleo-fontfacekit/web fonts/aleo_light_macroman/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('../../../../aleo-fontfacekit/web fonts/aleo_light_macroman/Aleo-Light-webfont.woff2') format('woff2'),
url('Aleo-Light-webfont.woff') format('woff'),
url('../../../../aleo-fontfacekit/web fonts/aleo_light_macroman/Aleo-Light-webfont.ttf') format('truetype'),
url('../../../../aleo-fontfacekit/web fonts/aleo_light_macroman/Aleo-Light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

